**/arduino_secrets.h
**/.env
**/secrets.h
**/node_modules

*.jpg
*.jpeg
*.png
*.gif
*.webp
*.bmp
*.tif
*.tiff
*.heic
*.raw
*.svg
*.mp4
*.mov
*.m4v
*.avi
*.mkv
*.webm
*.mpg
*.mpeg
*.3gp
*.mts
*.m2ts
*.mp3
*.wav
*.aiff
*.flac
*.m4a
*.aac
*.ogg
*.pdf
*.stl
*.step
*.stp
*.obj
*.gltf
*.glb
*.fbx
*.blend
*.3mf
